:host {
  display: grid;
  grid-template-rows: var(--header-height) 1fr auto;
  grid-template-columns: auto minmax(0, 1200px) auto;
  grid-gap: 30px;
  align-items: center;
  min-height: 100vh;
  background-color: var(--white);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 50px;
  justify-content: center;
  grid-row: 2;
  grid-column: 2;
}
