:host {
  display: grid;
  grid-template-rows: var(--header-height) 1fr minmax(0, 350px) max-content min-content 3fr;
  justify-items: center;
  height: 100vh;
}

img {
  height: 100%;
  grid-row: 3;

  @media (max-height: 350px) {
    display: none;
  }
}

h1 {
  color: var(--yellow);
  font-size: calc(2.8rem + 2.5vw);
  font-weight: initial;
  margin: 0;
  grid-row: 4;
}

p {
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5em;
  text-align: center;
  grid-row: 5;
}

.background-horse {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url('/assets/horse.svg') no-repeat 50% 50%;
  margin: 5em 5em 1em 5em;
}
