<nav>
  <button aria-label="Open the menu" (click)="toggleSidenav.next()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
    </svg>
  </button>
  <a
    *ngIf="(notStartpage$ | async)"
    routerLink="/"
    (click)="toggleSidenav.next(false)"
    class="logo"
  >
    <span class="icon"></span>
    <span class="text">ngStuttgart</span>
  </a>
  <a routerLink="/" routerLinkActive="active">home</a>
  <a routerLink="/team" routerLinkActive="active">team</a>
  <a routerLink="/join" routerLinkActive="active">join</a>
  <a
    href="https://github.com/ngStuttgart"
    target="_blank"
    rel="noopener noreferrer"
    >github</a
  >
  <a routerLink="/archive" routerLinkActive="active">archive</a>
</nav>
