:host {
  background: var(--header-background);
}

nav {
  display: flex;
}

a {
  color: white;
  text-transform: uppercase;
  padding: 1.4em 1em;
  text-decoration: none;
}

a:hover {
  background-color: var(--shadow);
}

a.active {
  color: var(--yellow);
  font-weight: bold;
}
