/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $dark;
  height: 100vh;
}
