/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  box-sizing: border-box;

  --header-height: 80px;
  --header-background: var(--dark);

  --black: black;
  --white: white;
  --dark: #343332;
  --shadow: #2c2c2c;
  --yellow: #fece03;
  --grey: #a3a3a3;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Segoe UI', Helvetica, Arial, 'Lucida Grande', sans-serif;
  background-color: var(--dark);
}

// main cta button
.cta {
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  background-color: var(--yellow);
  box-shadow: 0.5em -0.5em 0px 0px rgba(0, 0, 0, 0.75);
}

button.cta {
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
}

button.cta:focus {
  outline: none;
}

a.cta {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--black);
}

// reset useragent button styles
button.no-btn {
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  background-color: var(--white);

  &:active {
    outline: none;
  }
}
