/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family;
  background-color: $dark;
}

// main cta button
.cta {
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  background-color: $yellow;
  box-shadow: .5em -.5em 0px 0px rgba(0, 0, 0, 0.75);
}

button.cta {
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
}

button.cta:focus {
  outline: none;
}

// helper classes
.mt-3 {
  margin-top: 3rem;
}
