ng-stuttgart-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 10px 0;
  z-index: 10;
}

.bg-dark {
  background-color: var(--dark);
}

.bg-black {
  background-color: black;
}
