@import 'variables';

:host {
  background-color: white;
  min-height: 100vh; // TODO subtract header hight??
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-transform: uppercase;
}

p {
  text-align: center;
  line-height: 1.5;
}
