<h1>Join</h1>

<p class="first_paragraph">
  If you would like to join our community, feel free to send us an email:
  <a href="mailto:join@ngstuttgart.de">join@ngstuttgart.de</a> or follow
  <a
    href="https://twitter.com/ngStuttgart"
    target="_blank"
    rel="noopener noreferrer"
    >@ngStuttgart</a
  >
  on Twitter.
</p>

<p class="second_paragraph">We're happy to meet you on our next meetup!</p>

<a
  href="https://www.meetup.com/de-DE/angular-users-stuttgart/"
  target="_blank"
  rel="noopener noreferrer"
  class="cta link"
  >Join our next meetup</a
>
